/* body {
    height: 100vh;
}


.container .item {
    border: 2px solid black;
}
.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 4fr 6fr;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1 {
    background-color: plum;
}
.item2 {
    background-color: paleturquoise;
}
.item3 {
    background-color: salmon;
}
.item4 {
    background-color: beige;
} */